.page-background[b-828n0wybbd] {
    background-image: url('images/reserved_table_unsplash.jpg') !important;
    height: 89vh !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center;
}

.form-container[b-828n0wybbd] {
    width: 75vh;
    background-color: rgba(255,255,255,0.8);
    font-weight: bold;
}

.flex-container[b-828n0wybbd] {
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#date-time-picker[b-828n0wybbd] {
    justify-content: space-evenly;
}
