#book-a-table[b-3a31ftch47] {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 50px 0px;
    float: left;
    width: 100%;
    gap: 20px;
}

.book-a-table p[b-3a31ftch47] {
    color: #9a9a9a;
}

.book-a-table textarea[b-3a31ftch47] {
    min-height: 200px;
    max-width: 100%;
}
