body[b-3a31ftch47] {
    font-family: 'Agency FB'
}

.page-background[b-3a31ftch47] {
    background-image: url('images/reserved_table_unsplash.jpg');
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.centered-container[b-3a31ftch47] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container[b-3a31ftch47] {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 85vh;
}

.page-buttons[b-3a31ftch47] {
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.dateTimeContainer[b-3a31ftch47] {
    display: flex;
    background-color: pink;
}
