.page-background {
    background-image: url('images/payment_page.jpg');
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color:white;
}