.page-background {
    background-image: url('images/reserved_table_unsplash.jpg');
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Resetting button styling*/
button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: initial;
    font-family: inherit;
    font-size: inherit;
    background-color: initial;
    color: initial;
    box-shadow: none;
    appearance: auto;
    -webkit-appearance: auto;
}

button {
    width: 30vh;
    background-color: white;
    padding: 25px;
    height: 15vh;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    background-color: black;
    color: white;
    font-weight: bolder;
    transition:ease-in-out 0.5s all;
}

.page-buttons {
    display: flex;
    justify-content: center;
    gap: 10vh;
}


