.page-background {
    background-image: url('images/reserved_table_unsplash.jpg');
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
   justify-items: center;
   background-color: white;
}

.page-buttons {
    display: flex;
    justify-content: center;
    gap: 10vh;
}


