@page "/bills"

@using cool_restaurant_management_system.Data
<h1>Bills Page</h1>
come to Fancy Restaurant
<div>
    <h1>Choose Table:</h1>
    <select>
        <option>Placeholder</option>
    </select>
    
    <label>Add tip(%) ?</label>
    <input placeholder="%"/>
    
    <div style="flex-direction: row">
        <p>total: </p>
        <p>$420.69</p>
    </div>
    
    <button>Generate Bill</button>
</div>

@code {

}
