@page "/"

<header>
    <h1>Welcome to Fancy Restaurant</h1>
</header>
<div class="page-background">
    
</div>
<footer>
    Photo by <a href="https://unsplash.com/@@jaywennington?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jay Wennington</a> on <a href="https://unsplash.com/photos/N_Y88TWmGwA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</footer>