@page "/orders"
@using cool_restaurant_management_system.Data


<header>
    <h1>Orders</h1>
</header>

<div class="page-background">

</div>

<footer>
    Photo by <a href="https://unsplash.com/@@_danbrad?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Bradley</a> on <a href="https://unsplash.com/photos/y_WDEY9e6mA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</footer>

@code {

}
