@page "/payment"

@using cool_restaurant_management_system.Data

<header>
    <h1>Make Payment</h1>
</header>

<div class="page-background">

</div>

<footer>
    Image by <a href="https://www.freepik.com/free-photo/person-paying-with-nfc-technology-restaurant_36017435.htm#query=payment&position=0&from_view=search&track=country_rows_v1">Freepik</a>
</footer>

@code {

}
