@page "/reservationAndTables"

<div>
   <h1>New Reservation</h1>
   <div>
      <label>Name:</label>
      <input/>
      <label>Phone#:</label>
      <input/>
      <label>#Guests:</label>
      <select>
         @for (int i = 1; i <= 10; i++)
         {
            <option>@i</option>
         }
      </select>
      <label>Date:</label>
      <input type="date"/>
      <label>Time:</label>
      <input/>
      <label>Available Tables:</label>
      <input/>
   </div>
   <div>
      <button>Delete</button>
      <button>Sit Reservation</button>
   </div>
</div>

<div>
   <h1>Existing Reservation</h1>
   <div>
      <label>Choose Reservation:</label>
      <select>
         <option>Placeholder</option>
      </select>
   </div>
      <div>
         <button>Delete</button>
         <button>Sit Reservation</button>
      </div>
</div>

<div>
   <h1>Available Tables</h1>
         <label>Choose Table:</label>
   <select>
      <option>Placeholder</option>
   </select>
         <div>
            <button>Delete</button>
            <button>Sit Reservation</button>
         </div>
</div>

@code {
   
}
