@page "/reservationAndTables"

<div class="page-background">
    <div class="centered-container">
        <div class="page-buttons">
            <button>New Reservation</button>
            <button>Existing Reservation</button>
            <button>Sit Guest</button>
        </div>
    </div>
</div>
<footer>
    Photo by <a href="https://unsplash.com/@@iamhiteshdewasi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hitesh Dewasi</a> on <a href="https://unsplash.com/photos/5JwBbnyZzfc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</footer>

@code {
   
}
