@page "/UpcomingReservations"
@using cool_restaurant_management_system.Data

<header>
    <h1>Upcoming Reservations</h1>
</header>

<div class="page-background">

    <div class="flex-container" style="flex-direction:column">
        <div class="table-container">     
            <Table Hoverable Borderless FixedHeader FixedHeaderTableHeight="80vh">
                <TableHeader ThemeContrast="ThemeContrast.Dark">
                    <TableRow>
                        <TableHeaderCell>#</TableHeaderCell>
                        <TableHeaderCell>Guest Name</TableHeaderCell>
                        <TableHeaderCell>Phone Number</TableHeaderCell>
                        <TableHeaderCell>Party Size</TableHeaderCell>
                        <TableHeaderCell>Sit Guests</TableHeaderCell>
                        <TableHeaderCell>No Show</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (var reservation in upcomingReservations)
                    {
                        if(reservation != null)
                        {
                            <TableRow>
                                <TableRowHeader>1</TableRowHeader>
                                <TableRowCell>@reservation.Guest_Name</TableRowCell>
                                <TableRowCell>@reservation.Phone_Number</TableRowCell>
                                <TableRowCell>@reservation.Number_of_Guests</TableRowCell>
                                <TableRowCell>
                                    <Button Color="Color.Success" Clicked="() => SitTable(reservation.Phone_Number)">✓</Button>
                                </TableRowCell>
                                <TableRowCell>
                                    <Button Color="Color.Danger" Clicked="() => DeleteReservation(reservation.Phone_Number)">X</Button>
                                </TableRowCell>
                            </TableRow>
                        }
                    }
                </TableBody>
            </Table>
        </div>
        <Button Color="Color.Dark" Clicked="LoadReservations" Style="margin-top: 5vh">Load Reservations</Button>
    </div>
</div>

<footer>
    Photo by <a href="https://unsplash.com/@@iamhiteshdewasi?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hitesh Dewasi</a> on <a href="https://unsplash.com/photos/5JwBbnyZzfc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</footer>

@code {
    // Create an instance of DbServer class for database operations
    DbServer db = new DbServer();
    List<RestaurantTables> availableTablesList = new List<RestaurantTables>();
    List<Reservations> reservationsList = new List<Reservations>();
    List<Reservations> upcomingReservations = new List<Reservations>();

    // Load upcoming reservations based on the current day
    void LoadReservations()
    {
        reservationsList = db.GetAllReservations();
        upcomingReservations.Clear();
        // Only Taking Reservations from the same day
        foreach (var reservation in reservationsList)
        {
            if (reservation.Reservation_Date.DayOfYear - DateTime.Now.DayOfYear == 0)
            {
                upcomingReservations.Add(reservation);
            }
        }
    }

    // Accommodate guests and remove reservation
    async void SitTable(string phone)
    {
        db.DeleteReservationByPhone(phone);
        LoadReservations();
        await Application.Current.MainPage.DisplayAlert("Success", "Guests Accommodated", "OK");
    }

    // Delete a reservation
    async void DeleteReservation(string phone)
    {
        db.DeleteReservationByPhone(phone);
        LoadReservations();
        await Application.Current.MainPage.DisplayAlert("Success", "Reservation was Deleted", "OK");
    }
}
