/* /Pages/CheckOut.razor.rz.scp.css */
.page-background[b-6kgfb2ptcf] {
    background-image: url('images/orders_page.jpg');
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



h1[b-6kgfb2ptcf] {
    color: white;
}

select[b-6kgfb2ptcf] {
    padding: 8px;
    min-width: 350px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.flex-container[b-6kgfb2ptcf] {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}
/* /Pages/Index.razor.rz.scp.css */
body[b-cb8hvhylfh]{
    margin: 0;
    padding: 0;
}

.page-background[b-cb8hvhylfh] {
    background-image: url('/images/restaurant_unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;
}

h1[b-cb8hvhylfh] {
    background-color: black;
    color: snow;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

footer[b-cb8hvhylfh] {
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    text-align:end;
    height:5vh;
}
/* /Pages/SeatGuests.razor.rz.scp.css */
body[b-hgrr8nqdkr] {
    font-family: 'Agency FB'
}

.page-background[b-hgrr8nqdkr] {
    background-image: url('images/reserved_table_unsplash.jpg');
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.centered-container[b-hgrr8nqdkr] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container[b-hgrr8nqdkr] {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 85vh;
}

.page-buttons[b-hgrr8nqdkr] {
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.dateTimeContainer[b-hgrr8nqdkr] {
    display: flex;
    background-color: pink;
}

h1[b-hgrr8nqdkr] {
    color: white;
    background-color: black;
    border-bottom: 8px white solid;
}
.input-box[b-hgrr8nqdkr], select[b-hgrr8nqdkr] 
{
    padding: 8px;
    min-width: 350px;
    margin-bottom: 16px;
}
/* /Pages/Tables.razor.rz.scp.css */
.page-background[b-0s5tpoh9c8] {
    background-image: url('images/payment_page.jpg');
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1[b-0s5tpoh9c8] {
    color:white;
}
.table-container[b-0s5tpoh9c8]
{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
    color: white;
    font-weight: 500;
}

.restaurant-table[b-0s5tpoh9c8] {
    width: 12vw;
    height: 12vw;
    background-color: black;
    margin: 16px;
    opacity: .8;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-43olgpsg9t] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-43olgpsg9t] {
    flex: 1;
}

.sidebar[b-43olgpsg9t] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-43olgpsg9t] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-43olgpsg9t]  a, .top-row[b-43olgpsg9t]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-43olgpsg9t]  a:hover, .top-row[b-43olgpsg9t]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-43olgpsg9t]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-43olgpsg9t] {
        display: none;
    }

    .top-row.auth[b-43olgpsg9t] {
        justify-content: space-between;
    }

    .top-row[b-43olgpsg9t]  a, .top-row[b-43olgpsg9t]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-43olgpsg9t] {
        flex-direction: row;
    }

    .sidebar[b-43olgpsg9t] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-43olgpsg9t] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-43olgpsg9t], article[b-43olgpsg9t] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jtjoo1cj2e] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-jtjoo1cj2e] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jtjoo1cj2e] {
    font-size: 1.1rem;
}

.oi[b-jtjoo1cj2e] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jtjoo1cj2e] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jtjoo1cj2e] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jtjoo1cj2e] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jtjoo1cj2e]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-jtjoo1cj2e]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-jtjoo1cj2e]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jtjoo1cj2e] {
        display: none;
    }

    .collapse[b-jtjoo1cj2e] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
