body[b-cb8hvhylfh]{
    margin: 0;
    padding: 0;
}

.page-background[b-cb8hvhylfh] {
    background-image: url('images/restaurant_unsplash.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 89vh !important;
}
