body[b-hgrr8nqdkr] {
    font-family: 'Agency FB'
}

.page-background[b-hgrr8nqdkr] {
    background-image: url('images/reserved_table_unsplash.jpg');
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.centered-container[b-hgrr8nqdkr] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container[b-hgrr8nqdkr] {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 85vh;
}

.page-buttons[b-hgrr8nqdkr] {
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.dateTimeContainer[b-hgrr8nqdkr] {
    display: flex;
    background-color: pink;
}

h1[b-hgrr8nqdkr] {
    color: white;
    background-color: black;
    border-bottom: 8px white solid;
}
.input-box[b-hgrr8nqdkr], select[b-hgrr8nqdkr] 
{
    padding: 8px;
    min-width: 350px;
    margin-bottom: 16px;
}